<div>
  <h3>Búsqueda de preguntas</h3>
  <form method="get" action="/quizes">
    <p>Introduzca un texto a buscar</p>
    <input type="text" name="search">
    <input type="submit" value="Buscar">
  </form>
</div>
<div>
  <h3>Listado de preguntas</h3>
  <table>
    <tr>
      <th>Pregunta</th>
      <th>Tipo</th>
      <% if (session.user) { %>
        <th colspan=2>Acciones</th>
      <% } %>
    </tr>
    <% var i; for (i=0; i < quizes.length; i++) { %>
      <tr>
        <td align='left'><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
        <td align='left'><%= quizes[i].tematica %></td>
      <% if (session.user) { %>
        <td><a href="quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a></td>
        <td>
          <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
            <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">Borrar</button>
          </form>
        </td>
      <% } %>
      </tr>
    <% } %>
  </table>
  <% if (session.user) { %>
    <a href="/quizes/new"><button type="button">Crear pregunta</button></a>
  <% } %>
</div>
